body {
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background-image: url('/imagenes/fondo.jpg');
    background-size: cover;
    background-position: center;
    overflow-x: hidden;
    background-color: white;
  }
  
  .contenedor {
    display: flex;
    justify-content: center;
  }
  
  .television {
    width: 80vw;
    max-width: 60em;
    height: 80vh;
    max-height: 30em;
    background-color: black;
    position: relative;
    border: 0.5em solid white;
    border-radius: 1em;
  }
  
  .pantalla {
    width: 100%;
    height: 100%;
    position: relative;
    background-image: url('/imagenes/INICIO.webp');
    background-size: cover;
    background-position: center;
  }

  
.contenedor-mando {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 20px;
    margin-left: 5vw;
    margin-right: 5vw;
  }
  
  .mando {
    margin-top: 1em;
    margin-left: 1em;
    width: 9em;
    height: 23em;
    background-color: black;
    border-radius: 1em;
    padding: 1em;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    border: 0.5em solid white;
    border-bottom-left-radius: 4em;
    border-bottom-right-radius: 4em;
  }
  
  .botones {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    width: 100%;
  }
  
  button {
    width: 3em;
    height: 3em;
    border-radius: 50%;
    margin: 0.5em;
  }
  .boton-verde {
    background-color: green;
  }
  
  .boton-rojo {
    background-color: red;
  }
  
  .boton-netflix {
    background-color: white;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    color: red;
    width: auto;
    padding: 0.3em 0.1em;
    text-align: center;
    border-radius: 0.3em;
  }
  
  .boton-prime {
    background-color: white;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    color:blue;
    width: auto;
    padding: 0.1em 0.1em;
    text-align: center;
    border-radius: 0.4em;
  }
  
  .boton-inicio {
    color: black;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    background-color: blue;
   
    
    width: auto;
    padding: 0.5em 0.4em;
    text-align: center;
    border-radius: 0.5em;
  }
  
  .boton-volmas {
    background-color: yellow;
  }
  
  .boton-volmin {
    background-color: yellow;
  }
  #fechaHora {
    position: absolute;
    top: 2%; 
    right: 6%; 
    color: red;
    font-size: 2vw;
    font-family: fantasy;
  }
  .volume-message {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    padding: 1em;
    background-color: black;
    color: yellow;
    font-size: 1em;
  }